
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Twitter API</h1>

<p>Tweet Count : @ViewData["TweetCount"]</p>
<p>Percentage of Tweets that contain a URL  : @ViewData["UrlPercent"] %</p>
<p>Percentage of Tweets that contain a Photo URL  : @ViewData["PicUrlPercent"] %</p>
<p>Emoji Count  : @ViewData["EmojiCount"] </p>
<p>Hashtag Count : @ViewData["HashCount"] </p>


